body {
  margin: 0;
  background-color: #333333;
  -webkit-overflow-scrolling: touch;
}

:any-link {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100vh;
}
